a[type="active"].custonNavBar__links--item::after {
  display: flex;
  margin-top: 8px;
  content: "";
  width: 20px;
  background-color: yellow;
  height: 2px;
}

a[type="disabled"].custonNavBar__links--item:hover::after {
  display: flex;

  margin-top: 8px;
  content: "";
  width: 20px;
  background-color: yellow;
  height: 2px;
  animation-name: underline;
  animation-duration: 1s;
}

@keyframes underline {
  from {
    width: 0px;
    background-color: black;
  }
  to {
    width: 20px;
    background-color: yellow;
  }
}
